body{
	background-image: url("../images/background.png")
}
div{
	background-color: white;
	margin: 10px;
	width: 25%
}
div{
	border: solid .1em rgb(0, 0, 0);
	padding: 1em;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 4em;
}
header {
	width: 100%;
	background-color: white;
	border: solid .1em black;
	padding: 1.5em;
}
/* Classes */
.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}
.userTotal{
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
}
.gemImage{
	height: 60px;
	margin: 10px;
}
/* IDs */
#blue{
	color: #3092c7;
}
#green{
	color: #00aa59;
}
#red{
	color: #ec4b5f;
}
#yellow{
	color: #ffc225;
}